<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/cv">Resume</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
        <!---<div class="sidenav">
            <p class="navtitle">Kenneth Padden</p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/cv">Resume</a>
        </div> --->
        <section class="container"><br/>
            {{ content }} 
            <!-- /.container --> 
            <footer> 
                <ul> 
                    <li><a href="mailto:kepadden@gmail.com">email</a></li> 
                    <li><a href="https://linkedin.com/in/kenny-padden-a64329170">LinkedIn</a></li>
                    <li><a href="https://github.com/kpadden">github.com/kpadden</a></li> 
                </ul> 
            </footer><br/>
        </section>
    </body> 
</html>
